p {
    margin: 0;
  }
  
  #daftar-siswa{
    background-color: #5E6675;
  }
  
  #daftar-siswa > p:hover{
    background-color: #E5E7E8;
    color: #111827;
  }
  
  #daftar-siswa > p {
    color: #F3F4F6;
    text-transform: capitalize;
    font-weight: 400;
    font-family: sans-serif;
  }
  
  .siswa {
    padding: 10px 15px;
  }

